body {
  background: url(/res/img/cover.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.wrapper{
position: absolute;
    bottom: 25%;
    width: 50%;
}

.banner {
  padding: 30px;
}

button {
font-size:21px !important;
}
